@font-face {
    font-family: Monamour-italic;
    src: url(images/FontsFree-Net-Monamour-1.ttf);
}

@font-face {
    font-family: OliveDisplay;
    src: url(images/FontsFree-Net-OliveDisplay-Medium.ttf);
}

html, body {
    height: 100%;
}

body {
    background-size: cover;
    background-image: url("images/shutterstock_1162318672.jpg");
    font-family: OliveDisplay, Arial, Helvetica, sans-serif;

}

h1#title {
    font-family: Monamour-italic, Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

div.row {
    flex-direction: column;
}

div.card {
    position: absolute;
    background-color: #fff3ef;
}

a.card-link {
    margin-left: none;
}

a.card-link img{
    width: 100%;
}

div#user-swap img.card-img-top {
    margin: 10%;
    width: 80%;
    height: auto;
}

a.card-link img:hover{
    transform: scale(1.1); 
}

li.list-group-item {
    background-color: inherit;
    border: none;
}

.rest-name, .rest-rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.card-img-top {
    height: 35vh;
    object-fit: cover;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label {
    font-weight: bold;
    color: #0000ff;
}

div.carousel-cell div.card {
    height: 100%;
}

div.main-carousel {
    margin-top: 1.5rem;
    margin-left: 5%;
    width: 90%;
}

div.flickity-viewport {
    width: 100%;
}